# data_source
data_source/

# dataset
dataset/

# datasets
datasets/
dataset_binary/

# processed data
processed_data/

# outputs
outputs/
outputs_patchcore/
models/
checkpoints/
logs/

# model files
*.ckpt
*.pth
*.pt
*.onnx

# prediction outputs
prediction_outputs/
prediction_outputs_patchcore/
prediction_outputs_resnet18/

#evaluation outputs
evaluation_outputs/

# python
__pycache__/
*.pyc
.venv/
venv/
env/

# system
.DS_Store
Thumbs.db

# vscode
.vscode/