# data_source
data_source/

# dataset
dataset/

# processed data
processed_data/

# outputs
outputs/

# datasets
datasets/

# python
__pycache__/
*.pyc
.venv/
venv/

# outputs
outputs/
models/
checkpoints/
logs/

# system
.DS_Store
Thumbs.db

# vscode
.vscode/